.edit-Form {
    text-align: center;
    margin-top: 3%;
}
.required{

    color: tomato;
}
.error-message {
    color: red;
  }
label {
    color: #fff;
}
.readonly{

    color: blue;
}
.demo
{
    width: 75%;
    padding: 6px;
    border-radius: 7px;
    outline: none;
    border: none;
    
}
.fields {
    text-align: center;
    font-size: 120%;
}

input[type=text],
textarea,
select,
input[type=number],
input[type=tel] {
    width: 75%;
    padding: 6px;
    border-radius: 7px;
    outline: none;
    border: none;
}

.submit-btn {
    font-size: 90%;  
    color: #fff;
    border: 1px solid transparent;
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(57, 129, 57);
    transition: background-color 0.2s;
}

.submit-btn:hover {
    background-color: rgb(0, 95, 0);
}

input[type=submit] {
    border: none;
    background-color: green;
    color: #fff;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
    margin-left: -50%;
    outline: none;
    transition: background-color 0.2s, color 0.2s;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(116, 202, 231);
    color: #000;
}