<app-header></app-header><hr>
<section class="section-about">
    <div class="row">
        <h2>About us</h2>
    </div> 
    <app-main-navigation></app-main-navigation>
    <div class="row">
        <div class="col span-1-of-4">
            <blockquote>
                <div class="plain-box">Rule No.1: Never lose money. Rule No.2: Never forget rule No.1.</div>
                <cite><img class="circular--square" src="../../assets/AS.jpg">Anmol Shah</cite>
            </blockquote>
        </div>
        <div class="col span-1-of-4">
            <blockquote>
                <div class="plain-box">Price is what you pay. Value is what you get.</div>
                <cite><img src="../../assets/DD.jpg">Dhairya Doctor</cite>
               
            </blockquote>
        </div>
        <div class="col span-1-of-4">
            <blockquote>
                <div class="plain-box">It takes 20 years to build a reputation and five minutes to ruin it. If you think about that, you’ll do things differently.</div>
                <cite><img src="../../assets/DS.jpg">Dharmik Soni</cite>
                
            </blockquote>
        </div>
        <div class="col span-1-of-4">
            <blockquote>
                <div class="plain-box">The most important thing to do if you find yourself in a hole is to stop digging.</div>
                <cite><img src="../../assets/RJ.jpg">Rajan Jain</cite>
                
            </blockquote>
        </div>
    </div>
</section>