.main-nav {
    text-align: center;
}

.main-nav ul {
    list-style-type: none;
}

.main-nav ul li {
    display: inline-block;
    padding: 5px;
    color: #fff;
    padding-bottom: 7px;
    margin: 15px 20px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 100%;
    border-bottom: 1px solid transparent;
    outline: none;
    transition: font-size 0.2s, color 0.2s;
}

.main-nav ul li:hover {
    font-size: 150%;
    color: orange;
}

.logout-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    transition: color 0.2s;
}

.logout-btn:hover {
    color: orange;
}