
header {
    background-image:linear-gradient(rgba(255, 112, 112, 0.8), rgba(0, 0, 0, 0.8)), url(background_img2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.main-text {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.text1 { 
    font-size: 300%;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    animation: text 1.5s 1;
    
}

.text2 {
    font-size: 150%;
}
/*
/* ------ ANIMATION ------ 
@keyframes text {
    0% {
        color: #999;
        margin-bottom: -40px;
    }
    
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}
*/
/* ------LOGO------ */

.logo {
    background-image: url(7.jpg);
    background-size: cover;
    background-position: center;
  
    height: 150px;
     
    width: 150px;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    border: none;
}
.main-nav {
    float: right;
    list-style-type: none;
    margin-top: 70px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 110%;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #a02a2a;
}
