<header>
        <div class="main-text">
            <h1>HOME EASY</h1>
        </div>
    </header>
    <!--<div class="container">
        <div class="row"></div>
            <ul>
                <li>one
                    <ul>
                        <li><a>two</a></li>
                        <li><a>two</a></li>
                        <li><a>two</a></li>
                        <li><a>two</a></li>
                    </ul>
                </li>
                <li>two</li>
                <li>three</li>
                <li>four</li>
                <li>five</li>
            </ul>
        </div>
        
    </div>-->
    <div class="main-nav">
        <div class="row">
            <ul>
                <li>Become a Seller</li>
                <li>Services</li>
                <li>Become a service Provider</li>
                <li><button id="help">Help</button></li>
                
                
                <div id="myModal" class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">  
                    <span class="close">&times;</span>
                    <p>Some text is here..</p>
                  </div>
                </div>
                
            </ul>
        </div>
    </div>
    <section class="description clearfix">
        <aside class="features">
            <form action="#" method="post" class="form-input">
                <h2>Filters</h2>
                <select name="services" id="services">
                    <option value="select">Select State</option>
                    <option value="A">Gujarat</option>
                    <option value="B">Maharastra</option>
                    <option value="C">Rajasthan</option>
                </select>
                
                <!-- For City -->
                <h3>Select City</h3>
                <select name="city" id="city">
                    <option value="select">Select City</option>
                    <option>Ahmedabad</option>
                    <option>Rajkot</option>
                    <option>Baroda</option>
                    <option>Surat</option>
                </select>
                <!-- For Area -->
                <h4>Select Area</h4>
                <input type="checkbox" name="area_1" id="area_1"><span>Navrangpura</span><br>
                <input type="checkbox" name="area_2" id="area_2"><span>Vasna</span><br>
                <input type="checkbox" name="area_3" id="area_3"><span>Naranpura</span><br>
                <input type="checkbox" name="area_4" id="area_4"><span>Thaltej</span><br>
                <input type="checkbox" name="area_5" id="area_5"><span>Science City</span><br>
                <input type="checkbox" name="area_6" id="area_6"><span>Paldi</span><br>
                <input type="checkbox" name="area_7" id="area_7"><span>Praladhnagar</span><br>
            
        
            </form>
        </aside>
        <article class="data">
            <div class="row">
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div class="image">
                            <img src="14101.png" alt="">
                        </div>
                        <div class="image-info">
                            <ul>
                                <li>Name : Safal Parishad</li>
                                <li>Location: Ahmedabad</li>
                                <li>Area: Navrangpura</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div class="image">
                            <img src="css/img/14101.png" alt="">
                        </div>
                        <div class="image-info">
                            <ul>
                                <li>Name : AppleWood</li>
                                <li>Location: Ahmedabad</li>
                                <li>Area: Navrangpura</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col span-1-of-3">
                    <div class="plan-box">
                        <div class="image">
                            <img src="css/img/14101.png" alt="">
                        </div>
                        <div class="image-info">
                            <ul>
                                <li>Name : AppleWood</li>
                                <li>Location: Ahmedabad</li>
                                <li>Area: Navrangpura</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <footer>
        <h3>home_easy@gmail.com</h3>
    </footer>
    <button><a (click)="authService.doLogout()" routerLink='/login' >Logout</a></button>
    <script>
        // Get the modal
        var modal = document.getElementById("myModal");

        // Get the button that opens the modal
        var btn = document.getElementById("help");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks the button, open the modal 
        btn.onclick = function() {
          modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>

   
