<header>
   
    <div class="row">
        <img  class="logo">
        <ul class="main-nav">
            <li><a routerLink="/login"  routerLinkActive="active">LogIn</a></li>
             <li><a routerLink="/reg"  routerLinkActive="active">Register</a></li> 
            <li><a routerLink="/about"  routerLinkActive="active">About us</a></li>
            <li><a routerLink="/contact"  routerLinkActive="active">Contact Us</a></li>
            <div id="myModal" class="modal">
                    <!-- Modal content -->
                <div class="modal-content">  
                    <span class="close">&times;</span>
                    <p>Some text is here..</p>
                </div>
            </div>
        </ul>
    </div>
    <div class="main-text">
        <div class="text1">Welcome to Home easy</div>
    </div>
  </header>
  
  